.com-pager
    //- 向上翻页
    - if (pageNum <= 1) {
        span.pagdis 上一页
    - } else {
        a.paging(href="#{pagerLink}#{pageNum - 1}") 上一页
    - }
    //- 选择页数
    - for (let i = 1; i <= pageCount; i++) {
        - if (pageNum == i) { // 显示当前页数
            span.pagact= i
        - } else { // 显示其他页数
            a.paging(href="#{pagerLink}#{i}")= i
        - }
    - }
    //- 向下翻页
    - if (pageNum >= pageCount) {
        span.pagdis 下一页
    - } else {
        a.paging(href="#{pagerLink}#{+pageNum + 1}") 下一页
    - }